body {
	font-family: "Open Sans", sans-serif;
}
.tools {
	fill: red;
}
.platforms {
	fill: blue;
}
.languages {
	fill: green;
}
.techniques {
	fill: yellow;
}
.hold {
	opacity: 0.4;
}
.assess {
	opacity: 0.5;
}
.trial {
	opacity: 0.6;
}
.adopt {
	opacity: 0.7;
}
.blipCircle {
  fill: white;
  stroke: gray;
  opacity: 1;
}
.blipText {
  fill: black;
  font-size: 10px;
}
.ringText {
  fill: black;
  font-size: 20px;
}
.highlightBlipCircle {
  fill: black;
  stroke: gray;
  opacity: 1;
}
.highlightBlipText {
  fill: white;
  font-size: 10px;
}
path {
	stroke: black;
	stroke-width: 1;
}
#radarInformation {
	width: 300px;
	float: left;
}
#radar {
	float: left;
}